Python/environment.yaml
Python/token.env
Python/Temp/
Python/Log/
__pycache__/
*.pyc
Python/Automatisering/Task scheduler/logs/
Python/Automatisering/Task scheduler/logs_for_email_links/
Python/Automatisering/Task scheduler/git_sync.log
Data/Bystrategi_Grenland/Areal_og_byutvikling/Sentrumssoner/100x100/befolkning_i_rutenett.csv
Data/Bystrategi_Grenland/Areal_og_byutvikling/Sentrumssoner/befolkning_i_rutenett.csv
.claude/settings.local.json
